.ipynb_checkpoints/
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info
datasets/
saved_params_5000.npy
saved_params_10000.npy
saved_params_15000.npy
saved_params_20000.npy
saved_params_25000.npy
saved_params_30000.npy
saved_params_35000.npy
*.pickle
results/
data/